*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,html {
    background-image: url('./chess.jpg');
    color: white;
    font-family: 'Lato', system-ui;
    background-size: cover;
}

.event{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

#event {
    color:aquamarine;
}
.container {
    padding-top: -12rem;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 3rem;
    word-spacing: 7px;
    padding: 2rem;
}

p{
    font-size: 2rem;
    justify-content: space-around;
    text-align: center;
    font-weight: 700;
}



