*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,html {
    background-image: url('./chess.jpg');
    color: #fff;
    font-family: 'Lato', system-ui;
    background-size: cover;
}

.container {
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.units {
    display: flex;
}

h1 {
    font-size: 3rem;
    word-spacing: 7px;
    padding: 2rem;
}

p{
    font-size: 2rem;
    justify-content: space-around;
    text-align: center;
    font-weight: 700;
}

.event{
    padding-top: 2rem;
}

.eventHeader {
    color: aquamarine;
}


