*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,html {
    background-image: url('./chess.jpg');
    color: #fff;
    font-family: 'Lato', system-ui;
    background-size: cover;
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 3rem;
    word-spacing: 7px;
    padding: 2rem;
}

p{
    font-size: 2rem;
    justify-content: space-around;
    text-align: center;
}

